/* ************************
* awali segala selector dengan  
* .utama [spasi] class yang 
* dipilih didalammnya
*
*  
* 
*
*************************** */


/* misal */
.utama .test {
    color: 'white';
    background-color:'black';
}
.utama .test h4 {
    font-size:25pt;
    color:'blue';
}
/* end of misal */